  <div class="col">
    <div class="card">
      <img src="/uploads/<%=course.image%>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=course.name%></h5>
        <p class="card-text"><%=number_to_currency(course.price,locale: :fr)%></p>
      </div>
    </div>
  </div>
