<main class="mesachats">
<div class="mybreadcrumb">
<span>
accueil
</span>
<span>
cours <%=params[:mytype]%>
</span>
</div>
<div class="achats">
<div class="mytitle">
cours <%=params[:mytype]%>
</div>
<div class="myachats">
<div class="title">
cours <%=params[:mytype]%>
</div>
</div>
</div>
</main>
