<main class="mesachats">
<div class="mybreadcrumb">
<span>
accueil
</span>
<span>
cours <%=params[:mytype]%>
</span>
</div>
<div class="achats">
<div class="mytitle">
cours <%=params[:mytype]%>
</div>
<div class="myachats">
<div class="title">
cours <%=params[:mytype]%>
</div>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
<%=render collection: @courses, as: :cours, partial: "achats/cours"%>
</div>
</div>
</main>
