<article class="billetweb">
<%=link_to webbillet.url do%>
<img src="/assets/<%=webbillet.flyer%>" alt="Flyer <%=webbillet.title%>"/>
<%end%>

<a href="<%=webbillet.url%>">
Achetez vos billets
</a>
<hr>

</article>
