<main class="payesuccess">
<p>
<img class="payeimage" src="/uploads/payeenligne.png"/>
</p>
<p class="inscription">votre inscription a été envoyée !</p>
<p class="email">Vous allez reçevoir un mail de confirmation avec un récapitulatif.</p>
<p class="paiement-secu mypayment">Payez vos cours en ligne par carte bancaire jusqu'à 9 mensualités !
</p>
<p class="paiement-secu">Paiement sécurisé SYSTEMPAY
</p>
<p> Cliquez :
</p>
<p class="payeenligne"> <a href="<%=achatscours_path(mytype: params[:mytype])%>">JE PAYE EN LIGNE</a>

</p>
<p class="autreinscription"> <a href="">Cliquez pour faire une autre inscription</a>

</p>
</main>
