<div class="mycourse">
<img src="/uploads/<%=course.image%>" width="50%" />
<div>
<%=simple_format(course.description.html_safe,class:"mytext")%>

</div>
<%if course.is_a?(Private)%>
<%=link_to "Inscription",inscriptionindividuels_path%>
<%else%>
<%=link_to "Inscription",inscriptioncollectifs_path%>
<%end%>
</div>
